<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anagram Finder</title>
</head>
<body>
    <h2>Simple List Anagrams</h2>
    <div>
        <input type="text" id="wordInput" placeholder="Enter words separated by commas" />
        <button id="getAnagramsButton">Get Anagrams</button>
    </div>
    <div id="anagramResultDiv"></div>

    @section scripts {
        <script>
            $(document).ready(function () {
                var anagramModule = AnagramModule(); // Create an instance of the AnagramModule

                $("#getAnagramsButton").on("click", function () {
                    var words = $("#wordInput").val().split(",").map(function (word) {
                        return word.trim();
                    });

                    anagramModule.getAnagrams(words)
                        .then(function (resultModel) {
                            anagramModule.displayAnagrams(resultModel);
                        });
                });
            });
        </script>
        }
    </body>
</html>
